@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="pt-2">
        <a asp-controller="DepartmentHierarchy" asp-action="Index" class="btn btn-primary">Department Hierarchy</a>
    </div>


    <div class="pt-2">
        <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Department</a>
    </div>
    <div class="pt-2">
        <a asp-controller="SubDepartment" asp-action="Index" class="btn btn-primary">Sub Department</a>
    </div>

</div>
